<div class="collection-card">
    <div 
    class="collection-card__img" 
    style="background-image: url('@@imgPath');"
    >    
    </div>
    <div class="card-content">
        <div class="card-description1">
            @@cardDescription1
        </div>
        <div class="card-description2">
            @@cardDescription2
        </div>
        <div class="price">
            <i class="fas fa-pound-sign"></i>
            @@cardPrice
        </div>
    </div>
    <button class="card-button1">
        Add to cart
    </button>
    <button class="card-button2">
        View
    </button>
</div>