.collection-card{
    margin: 10px;
    padding: 5px;
    border: 1px solid lightgrey;
    
    &__img {
        width: 201px;
        height: 156px;
    }

    & .card-content {

        &__price {
            display: flex;

            &--red {
                color: red;
                padding-right: 5px;
            }

            &--grey {
                color: grey;
                text-decoration: line-through;
            }
        }
    }

    .card-content__price {
        display: flex;
    }

    & .submit-btn {
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        & .card-button {
            background-color: white;
            border: 1px solid lightgrey;
            padding: 0 10px;
        }
    }    
}
