<div class="choose-us-column">
    <div class="choose-us-column__header">
        <!-- <div 
        class="choose-us-column__header--img" 
        style="background-image: url('@@chooseImg');"
        >    
        </div> -->
        <div class="choose-us-column__header">
            <i class="fas fa-check @@chooseImgCheck"></i>
            <i class="fas fa-truck @@chooseImgTruck"></i>
        </div>
        <h5 class="choose-us-column__header--text">
            @@textHeader
        </h5>  
    </div>
    <div class="choose-us-column__content">
        @@contentText
    </div>
</div>