.choose-us-column {

    &__header {
        display: flex;

        &--img {
            height: 50px;
            width: 50px;
        }

        &--text {
            padding-left: 10px;
            text-transform: capitalize;
            font-size: 18px;
        }
    }

    &__content {
        text-align: justify;
    }
}