.article p {
    color: blue;
    font-size: 14px;
    font-style: italic;
    text-align: justify;
    padding: 5px;
  }
  
  .article .read-more {
    color: #fb9c06;
    text-decoration: none;
    font-style: italic;
    text-align: right;
    display: block;
  }