.article p {
    // color: blue;
    font-size: 14px;
    // font-style: italic;
    font-family: sans-serif;
    text-align: left;
    padding: 5px;
    font-weight: 600;
  }
  
  .article .read-more {
    color: #fb9c06;
    text-decoration: none;
    font-style: italic;
    text-align: right;
    display: block;
  }
  
  .article img {
    float: left;
    margin: 5px;
  }