@import "./partials/collection-card/collection-card.scss";
@import "./partials/choose-us/choose-us.scss";
@font-face {
  font-family: 'Noto Sans JP';
  src: url('/fonts/OriginalSurfer-Regular.ttf');
}

body * {
  outline: 1px solid lightgrey;
}

// HEADER BEHAVIOR
.container-shop {
  max-width: 1200px;
  margin: 0 auto;
}

.header-bg {
  background-color: rgb(247, 247, 247);
}

.header-behavior {
  display: flex;
  justify-content: space-between;
}


.trustpilot-icon {
  display: flex;
}

.text-behavior__left {
  display: flex;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 600;

  &--trust {
   padding-left: 5px;
  }

  &--pilot {
    color: gray;
  }
}

.icon {
  display: flex;
  align-items: center;

  &__checkmark {
    width: 16px;
    height: 16px;
  }
}

.reviews {
  font-weight: bold;
  font-size: 15px;
}

.header-behavior__right {
  display: flex;
  font-weight: bold;
  align-items: center;

  &--signup {
    padding-right: 30px;
  }
}

// HEADER INFO

.header-info {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 50px 0;

  & .header-info__left {
    display: flex;

    & .logo {
      min-width: 200px;
      min-height: 100px;
      padding-right: 50px;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      & .call-us {
        font-size: 18px;
        font-weight: 600;
      }

      & .telephone {
        color: red;
        font-size: 20px;
      }

      & .operating-mode {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

}


.header-info__right {

  &--items {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(31, 28, 28);
    color: white;
    font-size: 18px;
  }

  & .header-info__pdr {
    padding-right: 8px;
  }
}


// HEADER MENU

.header-menuBg {
  background-color: rgb(26, 25, 25);

  & .header-menu {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 30px 0;
    font-size: 26px;

    &__text {
      display: flex;
      color: white;
    }

    & .header-menu__pdr {
      padding-right: 50px;
    }
  }
}



// CAROUSEL 

.main-content {
  padding: 70px 0;

  .carousel {
    position: relative;
  
    &-text {
      position: absolute;
      left: 150px;
      top: 33.33%;
      color: white;
      font-size: 44px;
      font-weight: 100;
      
    
  
      &__bottom {
        display: flex;
        padding-bottom: 50px;
  
        & .half-price {
          padding-left: 5px;
          font-weight: 600;
        }
      }
  
      &__button {
        display: flex;
        justify-content: center;
  
        &--more {
          padding: 0 50px;
          color: white;
          background-color: Transparent;
          background-repeat:no-repeat;
          border: 1px solid white;
          cursor:pointer;
          overflow: hidden;
        }
      }
    }
  }
  
  .splide__pagination__page {
    height: 25px;
    width: 25px;
    margin: 7px;
    border: 1px solid rgb(68, 65, 65);
  }

}


//  COLLECTION CARD

.featured-collection__header {
  padding: 50px 0 20px 0;
}

.four-columns {
  display: flex;
  flex-wrap: wrap;
}

.four-columns__item {
  flex-basis: 25%;
  
}

// WHY CHOOSE US
.choose-us {
  padding: 0 30px;
  margin-bottom: 50px;

  & h3 {
    padding: 40px 0 30px 0 ;
  }
}

.three-columns {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: 33.33%;
    padding: 0 10px;

    & .choose-us__header {
      display: flex;
      padding-bottom: 15px;

      &--img {
        position: relative;
        min-width: 55px;
        min-height: 55px;
        background-color: rgb(63, 60, 60);
        border-radius: 50%;

        & .pictures {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
        }

      }

      &--text {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        padding-left: 10px;
        font-size: 18px;
        font-weight: 600;
      }
    }

    & .choose-us__content {
      text-align: justify;
    }
  }
}

// FOTTER 

.footer-menu {
  display: flex;
  background-color: rgb(27, 24, 24);
  padding: 10px 30px;

  &__text {
    display: flex;
    align-items: center;
    padding-right: 25px;
    font-size: 18px;
    text-transform: capitalize;
    color: white;
  }

  &__signUp {
    padding-right: 60px;

    &--btn {
      padding: 3px 15px;
      color: white;
      background-color:orange;
    }

    &--input {
      padding: 3px 15px;
    }
  }

  &__socialNetworks {
    display: flex;
    height: 30px;
    width: 30px;

    &--google {
      height: 34px;
      width: 34px;
      position: relative;

      & .fa-google-plus-g {
        position: absolute;
        color: white;
        padding-right: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    
  }
}


.footer-info {
  display: flex;
  padding: 50px 30px 20px 30px;
  
  & .item {
    flex-basis: 25%;

  }

  &__content {

    
    &--img {
      display: flex;
      padding: 0px 5px 15px 5px;

      & .logo-grey__img1 {
        width: 60%;
        height: 60%;
      }

      & .antivirus {
        position: relative;
        bottom: 0px;
        left: 5%;

        &__img2 {
          position: absolute;
          bottom: 0px;
        }
      }
    }

    &--text {
      text-align: justify;
    }
  }

  &__information {
    margin-left: 25px;

    &--links {
      display: flex;
      flex-direction: column;
    }
  }

  &__service {
    margin-left: 25px;
  }

  &__company {
    margin-left: 25px;

    &--email {
      display: flex;
      flex-direction: column;

      & .email-text {
        display: block;
      }
    }
  }
}

.links {
  color: black;
  text-decoration: none;
}