body * {
  outline: 1px solid lightgrey;
}

.container.main-nav{
  border: 3px solid red;
}

.container.main-nav li{
  display: inline-block;
}

.container.sub-menu {
  border: 3px dotted green ;
}

.container.blocks {
  border: 3px solid red;
}

.container.blocks span {
display: block;
}

.container.blocks p{
  color: green;
}

.container{
  border: 3px solid red;
}

.container.inline{
  border: 3px double green;
  color: blue;
}

.container.inline p{
  display: inline-block;
}